<p id="notice"><%= notice %></p>

<h1>Index</h1>

<%= link_to 'Courses', courses_path%>
<br>
<%= link_to 'Sections', sections_path %>
<br>
<%= link_to 'Students', students_path %>
<br>
<%= link_to 'Teachers', teachers_path%>
<br>
<br>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
